:root {
    --primary-color:#edecf1;
    --secondary-color: rgb(100, 255, 208);
    --accent-color: #7C4DFF;
    --dark-green:#05af9e;
}

body {
  background: rgb(10, 25, 47)
}
.hero {
  text-align: left;
  padding: 150px;
}

@media (max-width: 480px) {
  .hero {
padding: 20px;
text-align: center;
  }
}


.hero p {
  font-family:'Roboto Mono', monospace;
  font-weight: 300;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

@media (max-width: 480px) {
  .hero p {
    font-size: 16px;
    text-align: center;
padding:0;
  }
}

.hero h1 {
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 75px;
  color: var(--primary-color);
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 40px;
   margin:0 auto;
   display: block;
   text-align: center;
   padding: 0;

  }
}

.hero h2 {
  font-family:'Roboto', sans-serif;
  font-size: 25px;
  color: var(--dark-green);
}

@media (max-width: 480px) {
  .hero h2 {
    font-size: 18px;
    text-align: center;
padding:0;
  }
}

.contact-button:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.contact-button {
  font-family: 'Roboto Mono', monospace;
  background-color:transparent !important;
box-sizing: inherit;
  border: 2px solid var(--accent-color);
  display: inline-block;
  text-align: left;
  padding: 10px 20px;
  transition: all 0.5s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

@media (max-width: 480px) {
 .contact-button {
  display: block;
  margin: 5px;
    text-align: center;
    font-size: 14px;
  }
}

h3{
color: var(--dark-green);
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
}

@media (max-width: 480px) {
  h3 {
    font-size: 25px;
    text-align: center;
padding:0;
  }
}

p {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 480px) {
  .she-letters-text p {
    font-size: 16px;
    text-align: center;
padding:0;
  }
}
    .she-letters-link:hover {
  color: var(--secondary-color);
}

.she-letters-text {
  margin: 40px;
}

.she-letters-link {
  font-family:'Roboto Mono', monospace;
  text-align: center;
    display:block;
    margin-top: 50px;
    width: 50%;
  margin-left:25%;
  margin-right: 25%;
     border: 2px solid var(--accent-color);
     color: var(--primary-color);
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
}

.weather-text {
  margin: 40px;  
}

@media (max-width: 480px) {
  .weather-text p {
    font-size: 16px;
    text-align: center;
padding:0;
  }
}
.weather-app-link:hover {
  color: var(--secondary-color);
}

.weather-app-link {
   font-family:'Roboto Mono', monospace;
  display:block;
  text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 50%;
  margin-left:25%;
  margin-right: 25%;
    border: 2px solid var(--accent-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
}

.about-content {
  margin-top: 50px;
  padding: 30px;
}

.about-content h1 {
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-green);
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .about-content {
    font-size: 16px;     
    padding:10px;
    text-align: center;
  }
}


.lightbulb {
  color: white;
 margin-top: 50px;
 display:block;
  text-align: center;
  font-size: 60px;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-color);
  margin-top: 30px;
}

.extra {
    color: var(--secondary-color);
  font-family: 'Roboto Mono', monospace;
}

hr {
  color: var(--primary-color);
}

ul.skills-list {
  font-family: 'Roboto Mono', monospace;
  color: var(--secondary-color);
  display: grid;
      grid-template-columns:300px 300px;
    padding: 0px;
    overflow:hidden;
    
}

li {
 list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}
    

ul.skills-list li::before { 
  content:">";
    color: var(--secondary-color);
    position: relative;
  right: 5px;
}