:root {
    --primary-color:#edecf1;
    --secondary-color: rgb(100, 255, 208);
    --accent-color: #7C4DFF;
    --dark-green:#05af9e;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

.hero p {
  font-family:'Roboto Mono', monospace;
  font-weight: 300;
  color: var(--secondary-color);
}

.hero h1 {
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 75px;
  color: var(--primary-color);
}

.hero h2 {
  font-family:'Roboto', sans-serif;
  font-size: 25px;
  color: var(--dark-green);

}
.hero {
  background: rgb(10, 25, 47);
  text-align: left;
  padding: 50px;
}
.contact-button:hover {
  cursor: pointer;
}

.contact-button {
  margin: 20px;
  background-color:transparent !important;
box-sizing: inherit;
  border: 2px solid var(--accent-color);
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
